html {
  background-color: white;
}
.item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(235, 233, 233);
}

.item a,
a:active,
a:visited {
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.header {
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  font-size: 60px;
}

.header--form {
  font-size: 40px;
  font-weight: bold;
  padding-left: 15px;
}

.header--form input,
input:focus {
  font-size: 40px;
  text-decoration: none;
  border: none;
  outline: none;
  color: black;
}

.header--class {
  display: flex;
  justify-content: space-between;
}

/* Dropdown */
/* Dropdown Button */
.dropbtn {
  background-color: rgb(235, 233, 233);
  color: black;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:focus {
  font-size: 16px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(175, 175, 175);
}
